services:
  app:
    build: ./
    container_name: app
    volumes:
      - ./app:/app
    restart: unless-stopped
    command: /start.sh
    ports:
      - 8000:8080
    networks:
      - iancnet

networks:
  iancnet:
    driver: bridge