PROJECT_NAME=Stunting
DEBUG=True
API_HTTP_HOST=0.0.0.0
API_HTTP_PORT=8080
API_VERSION=/api/v1

MAX_WORKERS=4
GRACEFUL_TIMEOUT=4
WORKERS_TIMEOUT=120
WORKERS_KEEPALIVE=5
WORKERS_MAX_REQUESTS=1000
WORKERS_REQUESTS_JITTER=100

# log
ACCESSLOG=./access.log
ERRORLOG=./error.log
LOGLEVEL=info

#ML Model
Model_BalancingT1="/app/model/rf_classifier_t1.pkl"
Model_BalancingT2="/app/model/rf_classifier_t2.pkl"
Model_BalancingT3="/app/model/rf_classifier_t3.pkl"